<h1>welcom</h1>
<form method="post" asp-controller="account" asp-action="login">
    <input  type="text" placeholder="user name"/><br />
    <input type="text" placeholder="password" /><br />
    <input type="submit" value="login" />
</form>
